.main-logo {
    margin-top:-100%;
    cursor: pointer;
    border-radius: 20px;
}
.My-store{
    margin-left:120%;
    margin-top:-90%;
    cursor: pointer;
    font-weight: bolder;
    width: 100px;
    height: 30px;
}
@media (max-width:576px){
  .nav-media {
  display: block;
  font-size: 36px;
}
.setting {
  cursor: pointer;
  font-size: 30px; /* chỉnh size icon */
  user-select: none;
}

/* Menu ẩn hoàn toàn ban đầu */
#menu2 {
  position: absolute;
  top: 110%;
  right: 3%;
  width: 450px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 20px;
  color: black;

  transform: translateX(100%); 
  opacity: 0;                
  pointer-events: none;        
  transition: transform 0.3s ease, opacity 0.3s ease;
}
#toggleMenu{
  display: none;
}
#toggleMenu:checked + .setting + #menu2 {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto; 
}
#menu2 li:hover{
  background-color: gainsboro;
}
}
#cartDropdown {
  position: absolute;
  top: 90%;
  left:70.5%; /* điều chỉnh cho đúng */
  display: none;
  z-index: 9999; /* tăng z-index */
  background-color: rgb(255, 255, 255);
  border-bottom: 1px dashed #e5e7eb;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.12);
  border-radius:10px;
  width: 300px;
  padding:10px;
}
#cartDropdown.show {
  display: block;
}


#cartItems li {
  display: flex;
  justify-content: start;
  margin-bottom: 6px;
}
.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-name{
  font-size: 14px;
  display: flex;
  font-weight: bold;
}

.cart-item-price {
  font-size: 13px;
  color: #135bec;

}
.cart-item-name span {
  background: #ffeaea;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 6px;
}


.add-product{
    width: 200px;
    height: 36px;
    margin-top:-20%;
    margin-left:15%;
    background-color: black;
    color:white;
    border-radius: 50px;
    padding-left:30px;
    cursor: pointer;
    padding-top:1%;
}
.nav{
  position: relative;
}
#menu {
  position: absolute;
  left:100%;
  top:100%;
  width: 100px;
  height: 100px;
  border:2px solid black;
  background-color: #eeebeb;
}
#user-icon{
  margin-top:10%;
}
.helloUser{
  display: inline-block;
  font-weight: 20px;
  color:rgb(56, 56, 56);
}
#heart:active{
  color:blue;
}