.main-logo {
    cursor: pointer;
    border-radius: 50px;
    width: 40px;
    height: 36px;
    margin-top:0%;
}
.My-store{
    cursor: pointer;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    color:grey;
    margin-left:55%;
    margin-top:-30%;
    color:blue;
}

.nav {
  position: relative; 
}

#menu {
  position: absolute;
  top: 110%;         
  left:50%;           
  width: 150px;
  background-color: white;
  border:2px solid black;
  border-radius: 8px;
  padding: 8px 0;
  color:black;
}

#menu li {
  padding: 8px 12px;
  cursor: pointer;
}

#menu li:hover {
  background: rgba(0,0,0,0.1);
}
.picture1:hover ,.picture2:hover ,.picture3:hover,.picture4:hover,.picture5:hover{
    transform: scale(1.3);
    transition: transform 0.5s ease;
}
.size-btn.active {
  border: 2px solid black;
}
.Add-to-bag{
  width: 100%;
  height:60px;
  border-radius: 50px;
  background-color: black;
  color:white;
  border:none;
}
.Add-to-bag:hover{
  border:2px solid white;
}
.circle1{
width: 100px;
height: 100px;
border-radius: 50%;
background-color: black;
}
.circle2{
width: 100px;
height: 100px;
background-color: red;
border-radius: 50%;
  }
 #product img {
    transition: opacity 0.4s ease;
  }

  .fade-out {
    opacity: 0;
  }

  .fade-in {
    opacity: 1;
  }

  .circle1, .circle2 {
    cursor: pointer;
  }