.main-logo {
  cursor: pointer;
  border-radius: 20px;
  width: 50px;
  height: 36px;
  margin-left:-50%;
}
.My-store{
  margin-left:12%;
  cursor: pointer;
  font-weight: bolder;
  width: 100px;
  height: 30px;
  color:rgb(240, 240, 240);
  font-weight: bolder;
  margin-top:-30%;
}
.nav {
position: relative; 
}

#menu {
position: absolute;
top: 110%;         
left:50%;           
width: 150px;
background-color: white;
border:2px solid black;
border-radius: 8px;
padding: 8px 0;
color:black;
}

#menu li {
padding: 8px 12px;
cursor: pointer;
}

#menu li:hover {
background: rgba(0,0,0,0.1);
}
.nav-media{
display: none;
}
@media (max-width:576px){
.nav-media {
display: block;
font-size: 36px;
} 
.nav ,#search,#shopping,#circle{
display: none;
}
.nav-media {
position: relative; 
}

.setting {
cursor: pointer;
font-size: 30px; /* chỉnh size icon */
user-select: none;
}

/* Menu ẩn hoàn toàn ban đầu */
#menu2 {
position: absolute;
top: 110%;
right: -10%;
width: 450px;
background-color: white;
border: 2px solid black;
border-radius: 8px;
padding: 8px 0;
font-size: 20px;
color: black;

transform: translateX(100%); 
opacity: 0;                
pointer-events: none;        
transition: transform 0.3s ease, opacity 0.3s ease;
}
#toggleMenu{
display: none;
}
#toggleMenu:checked + .setting + #menu2 {
transform: translateX(0);
opacity: 1;
pointer-events: auto; 
}
#menu2 li:hover{
background-color: gainsboro;
}
#carDropdown ,#cart,#cartCount{
display: none;
}
}
#person {
color:white;
}
.helloUser {
color:white;
}
#user-icon {
color:white;
}
#menu {
position: absolute;
left:100%;
}
.cart-item-name span {
background: #ffeaea;
padding: 2px 6px;
border-radius: 6px;
margin-left: 6px;
}
.add-product {
background-color: red;
color:blue;
width: 100px;
height: 50px;
}
#cartDropdown {
position: absolute;
top: 90%;
left:80%; /* điều chỉnh cho đúng */
display: none;
z-index: 9999; /* tăng z-index */
background-color: rgb(255, 255, 255);
border-bottom: 1px dashed #e5e7eb;
box-shadow: 0px 0px 15px rgba(0,0,0,0.12);
width: 300px;
border-radius: 8px;
padding: 10px;
max-height: 400px;
overflow-y: auto;
}
#cartDropdown.show {
display: block;
}


#cartItems {
list-style: none;
padding: 0;
margin: 0;
}

#cartItems li {
display: flex;
justify-content: start;
margin-bottom: 6px;
border-bottom: 1px solid rgba(0,0,0,0.1);
padding-bottom: 8px;
}
.cart-item {
display: flex;
gap: 10px;
margin-bottom: 8px;
}

.cart-item img {
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 6px;
}

.cart-item-name{
font-size: 14px;
display: flex;
font-weight: bold;
}

.cart-item-price {
font-size: 13px;
color: #135bec;

}
.cart-item-name span {
background: #ffeaea;
padding: 2px 6px;
border-radius: 6px;
margin-left: 6px;
}
#quick-add{
background-color: white;
color:black;
justify-content: center;
display: flex;
align-items: center;
width: 250px;
height: 36px;
border-radius: 20px;

}
