.main-logo {
    cursor: pointer;
    border-radius: 20px;
    width: 50px;
    height: 36px;
    margin-left:-50%;
}
.My-store{
    margin-left:12%;
    cursor: pointer;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    color:white;
    margin-top:-30%;
}

.nav {
  position: relative; 
}

#menu {
  position: absolute;
  top: 110%;         
  left:50%;           
  width: 150px;
  background-color: white;
  border:2px solid black;
  border-radius: 8px;
  padding: 8px 0;
  color:black;
}

#menu li {
  padding: 8px 12px;
  cursor: pointer;
}

#menu li:hover {
  background: rgba(0,0,0,0.1);
}
.picture1:hover ,.picture2:hover ,.picture3:hover,.picture4:hover,.picture5:hover{
    transform: scale(1.3);
    transition: transform 0.5s ease;
}
.size-btn.active {
  border: 2px solid black;
}

